autopep8==1.4.4
awscli==1.16.169
beautifulsoup4==4.7.1
boto3==1.9.159
botocore==1.12.159
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.3.9
cycler==0.10.0
docker==4.0.1
docopt==0.6.2
docutils==0.14
Flask==1.0.3
Flask-Cors==3.0.7
gTTS==2.0.3
gTTS-token==1.1.3
ibm-cloud-sdk-core==0.4.2
ibm-watson==3.0.4
idna==2.8
ioloop==0.1a0
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
numpy==1.16.4
opencv-python==4.1.0.25
optional-django==0.3.0
pbr==5.2.1
pipreqs==0.4.9
pyasn1==0.4.5
PyAudio==0.2.11
pycodestyle==2.5.0
pycurl==7.43.0.3
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
python-dotenv==0.10.1
pyttsx3==2.71
pytz==2019.1
PyYAML==3.13
react==4.3.0
redis==3.2.1
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
schedule==0.4.2
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
stevedore==1.30.1
tornado==4.5.2
torngithub==0.2.0
twilio==6.27.1
typed-ast==1.4.0
urllib3==1.24.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
websocket-client==0.48.0
Werkzeug==0.15.4
wrapt==1.11.2
yarg==0.1.9