html {
  scroll-behavior: smooth;
  min-height: 100%;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

html,
body {
  overflow: auto;
}

ul.chat-messages li {
  list-style-type: none;
}

ul.chat-messages li:nth-child(odd) {
  text-align: left;
}

ul.chat-messages li:nth-child(even) {
  text-align: right;
}

.mic {
  height: 50px;
  cursor: pointer;
}

.chat-bot-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .6);
  color: white;
}

.chat-bot-modal.open {
  display: block;
}

.chat-bot-wrapper {
  display: grid;
  grid-template-columns: .75fr 1.5fr .75fr;
  grid-gap: 10px;
}

.chat-bot-wrapper .col {
  justify-content: center;
  align-items: center;
}

.chat-window {
  text-align: center;
}

.chat-window input {
  width: 100%;
  line-height: 2.25rem;
  height: 2.25rem;
}

.chat-window button.chat-window-button {
  margin-top: .5rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #00b3be;
}

.chat-bot-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-color: #00b3be;
  border-radius: 50%;
  padding: 7.5px;
  box-shadow: 2px 3px 3px #888888;
}

.chat-bot-button>div svg path {
  fill: white;
}

.chat-bot-modal.open .chat-bot-button .question svg {
  display: none;
}

p.rambot svg {
  height: 50px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  min-height: 200px;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}


.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}


.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,500');


.navbar {
  height: 7vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

.menu {
  float: left;
  width: auto;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-25%);
}

.menu-item a {
  height: auto;
  color: white;
  font-size: 18px;
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.menu-item:hover {
  font-weight: 300;
  cursor: pointer;
}

@media all and (display-mode: not:fullscreen) {
  .navbar {
    display: none;
  }

  .menu-item {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}